.overlay {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: white;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .imageWrapper {
    position: relative;
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid #ccc;
    cursor: crosshair;
  }
  
  .markerTakeoff,
  .markerLanding {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 22px solid;
    pointer-events: none;
    z-index: 1000;
    filter: drop-shadow(0 0 2px black);
  }
  
  .markerTakeoff {
    border-top-color: rgb(51, 201, 86);
  }
  
  .markerLanding {
    border-top-color: rgb(205, 45, 61);
  }
  
  .tooltip {
    position: absolute;
    background-color: white;
    padding: 4px 8px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    pointer-events: none;
    z-index: 10;
  }
  
  .buttonWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .primaryButton {
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .primaryButton:hover {
    background-color: #0069d9;
  }
  