.header {
  height: 10vh;
  background-color: transparent;
  display: flex;
  align-items: center;;
  justify-content: space-between;
  padding: 0 2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  direction: rtl;
  gap: 24px;
}

/* חיפוש + כפתור + מדידה – קצה ימין */
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 0;
}

/* שדה חיפוש */
.search-input {
  padding: 1.3vh 2.6vh;
  font-size: 1.8vh;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 12vw;
  direction: rtl;
}

/* מרכז – כפתורים */
.button-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* לוגו – קצה שמאל */
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-img {
  height: 80%;
  width: auto;
}

/* כפתור ראשי */
.primary-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 1.3vh 2.6vh;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.8vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.primary-button:hover {
  background-color: #0056b3;
}

/* צבע ביטול משימה */
.cancel-button {
  background-color: #c50808; /* אדום בורדו */
}

.cancel-button:hover {
  background-color: #960101; /* גוון כהה יותר בהובר */
}


/* כפתור משני */
.secondary-button {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 1.3vh 2.6vh;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1.8vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

/* כפתור משני במעבר */
.secondary-button:hover {
  background-color: #e6e6e6;
}
